{% load static %}

<!-- Header -->
<header class="wrapp-header">
			
    <div class="header-box-01">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 text-xs-center">
                    <a href="" class="logo ">
                        <h2>MINDCARE</h2>
                    </a>
                    <h6>Welcome {{request.user.full_name}}</h6>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8 text-xs-center text-right mr-2">
                    {% if user.id is None %}
                    <a href="{% url 'signin' %}" class="btn btn-primary" style="margin-top: 16px;">Login</a>
                    {% else %}
                    <a href="{% url 'signout' %}" class="btn btn-primary" style="margin-top: 16px;">Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Main navigation -->
    <div class="header-box-02">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-nav">
                        <div class="main-nav__btn">
                            <div class="icon-left"></div>
                            <div class="icon-right"></div>
                        </div>
                        <div class="header-box-03">
          
                            <div class="search-box">
                                <a class="search-btn" href="#">Search</a>
                                <div class="search-box__dropdown">
                                    <form action="https://livewp.site/html/optima/" class="search-box__form">
                                        <input class="search-box__input" type="text" name="search_btn" placeholder="Search...">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <ul class="main-nav__list">
                            <li class="active">
                                <a href="{% url 'homepage' %}">Home</a>
                         
                            </li>
                            <li>
                                <a href="about_us.html">About</a>
                             
                            </li>
                            <li>
                                <a href="{% url 'service' %}">Services</a>
                           
                            </li>
                            <li>
                                <a href="{% url 'psychologist-list' %}">Psychologists</a>
                                
                            </li>
                            <li>
                                <a href="shop_listing.html">Blogs</a>
                            </li>
                            
                            <li>
                                <a href="contacts.html">Contacts</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>