{% if messages %}

    {% for message in messages %}
    <div id="message" class="container" style="width: 100%">
    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
        {{ message }}
    </div>
    </div>
    {% endfor %}

{% endif %}

<script>
    setTimeout(function(){
        $('#message').fadeOut('slow')
    },1500)
</script>

<style>
    .alert-error {
        color: #821b1b;
        background-color: #fed6d6;
        border-color: #fec6c6;
    }
</style>