{% extends 'user/base.html' %}

{% load static %}

{% block content %}
<div class="container mb-2">
    <div class="p-5 mb-5">
        <div class="row ">
            <div class="col-lg-12 text-center">
                <h3 class=" title-01--mr-07">Price Table</h3>
            </div>
        </div>
        <div class="row  mt-3  justify-content-center">
          
            <div class="col-sm-4 col-md-4 col-lg-5">
                <div class="price-tables-01 price-tables-01-selected border">
                    <figure class="price-tables-01__icon">
                        <img src="{% static 'img/icons/table_price_icon_02.png' %}" alt="">
                    </figure>
                    <h3 class="price-tables-01__title mt-0">Session Pay</h3>
                    <p class="price-tables-01__price">
                        <span class="price-tables-01__price-cont">{{psy.fees}}</span>
                        <span class="price-tables-01__price-icon">Rs.</span>
                    </p>
                    <div class="price-tables__content">
                        <p>A space to explore emotions can help you to better recognise problematic</p>
                    </div>
                    <div class="price-tables-btn-wrapp">
                        <a href="#" class="price-tables-btn">Pay</a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>

{% endblock %}