{% extends 'user/base.html' %}
{% load static %}


{% block content %}

<div class="wrapp-content">

   

    <!-- Content -->
    <main class="content-row">
      
        
        <div class="content-box-02 pad-top-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="subtitle-01 text-center">What we offer for you</p>
                        <h3 class="title-03 text-center mar-bt-50">Therapies &amp;
                            <span>Treatments</span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="treatments-box">
                            <figure class="treatments-box__img">
                                <a href="single_service.html">
                                    <img src="{% static 'img/services/treatments/treatments_01.jpg' %}" alt="">
                                </a>
                            </figure>
                            <h3 class="treatments-box__title">
                                <a href="single_service.html">Anxiety Disorder</a>
                            </h3>
                            <div class="treatments-box__text">
                                <p>Anxiety disorders can be a serious illness and have long term problems</p>
                            </div>
                            <a href="single_service.html" class="treatments-box__btn">Learn more</a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="treatments-box">
                            <figure class="treatments-box__img">
                                <a href="single_service.html">
                                    <img src="{% static 'img/services/treatments/treatments_02.jpg' %}" alt="">
                                </a>
                            </figure>
                            <h3 class="treatments-box__title">
                                <a href="single_service-2.html">Treating Depression</a>
                            </h3>
                            <div class="treatments-box__text">
                                <p>Qualified clinical team providing depression advice and course of action</p>
                            </div>
                            <a href="single_service.html" class="treatments-box__btn">Learn more</a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="treatments-box">
                            <figure class="treatments-box__img">
                                <a href="single_service.html">
                                    <img src="{% static 'img/services/treatments/treatments_03.jpg' %}" alt="">
                                </a>
                            </figure>
                            <h3 class="treatments-box__title">
                                <a href="single_service.html">Couple Theraphy</a>
                            </h3>
                            <div class="treatments-box__text">
                                <p>Couples’ therapy is a form of therapy in which a couple works with a therapist</p>
                            </div>
                            <a href="single_service.html" class="treatments-box__btn">Learn more</a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="treatments-box">
                            <figure class="treatments-box__img">
                                <a href="single_service.html">
                                    <img src="{% static 'img/services/treatments/treatments_04.jpg' %}" alt="">
                                </a>
                            </figure>
                            <h3 class="treatments-box__title">
                                <a href="single_service.html">Family Practice</a>
                            </h3>
                            <div class="treatments-box__text">
                                <p>Our trained, empathetic counsellors are here to assist during difficult periods</p>
                            </div>
                            <a href="single_service.html" class="treatments-box__btn">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="treatments-box">
                            <figure class="treatments-box__img">
                                <a href="single_service.html">
                                    <img src="{% static 'img/services/treatments/treatments_05.jpg' %}" alt="">
                                </a>
                            </figure>
                            <h3 class="treatments-box__title">
                                <a href="single_service.html">Group Therapy</a>
                            </h3>
                            <div class="treatments-box__text">
                                <p>Whether it is social phobia, specific phobia, post traumatic stress disorder</p>
                            </div>
                            <a href="single_service.html" class="treatments-box__btn">Learn more</a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="treatments-box">
                            <figure class="treatments-box__img">
                                <a href="single_service.html">
                                    <img src="{% static 'img/services/treatments/treatments_06.jpg' %}" alt="">
                                </a>
                            </figure>
                            <h3 class="treatments-box__title">
                                <a href="single_service.html">Individual Coaching</a>
                            </h3>
                            <div class="treatments-box__text">
                                <p>Individual treatment is often termed as psychotherapy and is meant to help</p>
                            </div>
                            <a href="single_service.html" class="treatments-box__btn">Learn more</a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="treatments-box">
                            <figure class="treatments-box__img">
                                <a href="single_service.html">
                                    <img src="{% static 'img/services/treatments/treatments_07.jpg' %}" alt="">
                                </a>
                            </figure>
                            <h3 class="treatments-box__title">
                                <a href="single_service.html">Children Therapy</a>
                            </h3>
                            <div class="treatments-box__text">
                                <p>There are many emotional issues that find a corner in our heart</p>
                            </div>
                            <a href="single_service.html" class="treatments-box__btn">Learn more</a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="treatments-box">
                            <figure class="treatments-box__img">
                                <a href="single_service.html">
                                    <img src="{% static 'img/services/treatments/treatments_08.jpg' %}" alt="">
                                </a>
                            </figure>
                            <h3 class="treatments-box__title">
                                <a href="single_service.html">Anti Stress Therapy</a>
                            </h3>
                            <div class="treatments-box__text">
                                <p>1 in 5 adults will suffer from depression at some stage in their lives</p>
                            </div>
                            <a href="single_service.html" class="treatments-box__btn">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    </main>



</div>

{% endblock %}